/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-base: rgb(110, 226, 220);
    -fx-background: rgb(221, 241, 238);
}


	.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 1px;  
}
	.table-view .column-header .label{
	-fx-font-size: 8pt;
 
   
}
.titled-pane 
{
	-fx-font-size: 8pt;
}
.table-row-cell:empty {
    -fx-background-color: white;
}
 table-row-cell:selected {
   -fx-background-color: red; 
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:empty .table-cell {
    -fx-font-size: 0px;
}
.table-row-cell .table-cell {
    -fx-font-size: 10px;
}

*.control-buttons-tab  {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:1px;
  -fx-tab-max-height:1px;
   -fx-background-insets: 0;
    -fx-pref-height: 1px;  
}

.tab {

  -fx-font-size: 10;
  -fx-tab-min-height:1px;
  -fx-tab-max-height:1px;
      -fx-pref-height: 20px;  
}

.default-color0.chart-bar {
    -fx-bar-fill: #00FFCC; 

    }
.default-color1.chart-bar { 
    -fx-bar-fill: #1844F8;
        }
    .default-color2.chart-bar { 
    -fx-bar-fill: #F81818; 
    }
.default-color3.chart-bar {
    -fx-bar-fill: #00FFCC; 

    }
.default-color4.chart-bar { 
    -fx-bar-fill: #1844F8;
        }
    .default-color5.chart-bar { 
    -fx-bar-fill: #F81818; 
    }
.chart-legend-item{

    -fx-font-size: 0.8em;
}
.chart-pie-label {
  -fx-font-size: 7pt ;
}
.text-field{
	  -fx-font-size: 10;
     -fx-min-height:1px;
  -fx-max-height:20px;
    -fx-pref-height: 20px;
}
.combo-box{
-fx-font-size: 7pt;	
}

.button{
	  -fx-font-size: 7pt;
     -fx-min-height:1px;
  -fx-max-height:20px;
    -fx-pref-height: 20px;
}
.normal.label{
	-fx-text-fill: #000000;
}
.dangerous.label{
		-fx-text-fill: #F81818;
}
.notopti.label{
		-fx-text-fill: #1844F8;
}
.dis.label{
		-fx-text-fill: #F333FF;
}
.adder.button{
		-fx-base:rgb(117, 251, 76);
}
.deleter.button{
		-fx-base:rgb(234, 51, 247);
}
.adjuster.button{
		-fx-base:rgb(117, 251, 253);
}


