*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
\n+# Artefacts de release et binaires (éviter les fichiers lourds dans Git)
composeApp/release/
**/outputs/
**/archives/
**/dist/
**/Products/
*.apk
*.aab
*.ipa
*.xcarchive
*.keystore
*.jks
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.jar
*.aar
