export(vn_download_json)
export(vn_compare_to_references)
export(vn_compute_energy_needs)
export(vn_compute_ration_intakes)
export(vn_extract_submissions)
export(vn_grade)
export(vn_grade_from_json)
export(vn_grade_nutrition_batch)
export(vn_grade_nutrition_case)
export(vn_import_json_list)
export(vn_load_answer_key)
export(vn_read_json)
importFrom(jsonlite,fromJSON)
